body
  font-size: 14px;
}

nav {
  height: 100px;
  width: 100%;
  position: fixed;
}

.example {
  background-color: yellow;
  text-align: center;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin 10px 0;
  width: 100%;
  position: relative;
}

.red {
  background-color: red;
}
